body {
    background: rgb(153, 13, 13);
    color: whitesmoke;
}

header{
    text-align: center;
    font-size: 50px;
    border-bottom: solid 3px floralwhite;
    margin-left: 80;
    margin-right: 80;
}

section {
     display: flex;
     background-color: rgb(255, 255, 255);
     padding-bottom: 80px;
     margin-top: 20px;
     justify-content: center;
}

.chamada-texto{
    margin-right: 3%;
}