body {
    background: rgb(68, 8, 8);
    color: whitesmoke;
}

header{
    text-align: center;
    font-size: 50px;
    border-bottom: solid 3px floralwhite;
    margin-left: 80;
    margin-right: 80;
}

section {
     display: flex;
     background-color: aquamarine;
     padding-bottom: 80px;
     margin-top: 20px;
     justify-content: center;
}